<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".SnakeActivity"
            android:exported="false"
            android:label="@string/snake_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MiniGames" />
    </application>

</manifest>
